@keyframes ldio-3f4045jey9w {
    0% { background: #ffe691 }
    12.5% { background: #ffe691 }
    12.625% { background: #ffb6bb }
    100% { background: #ffb6bb }
  }
  .ldio-3f4045jey9w div {
    position: absolute;
    width: 40px;
    height: 40px;
    background: #ffb6bb;
    animation: ldio-3f4045jey9w 2s linear infinite;
  }
  .loadingio-spinner-blocks-1axntqzvk5l {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: rgba(241, 242, 243, 0);
  }
  .ldio-3f4045jey9w {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-3f4045jey9w div { box-sizing: content-box; }